body{
    background-image: linear-gradient(-30deg, #f1d6d6, #ccccec, #f1d6d6);   
    padding-top: 100px;
    padding-bottom: 65px;
    background-repeat: no-repeat;
    background-size: auto;
    height:100vh;
}

.footer{
    bottom: 0px;
    right: 0px;
    position: absolute;
}

.footer1{
    bottom: 0px;
    left: 5%;
    position: absolute;
    /* margin-top: 10px; */
}

input{
    outline: none;
}



.text{
    outline: none !important;
}

.card{
    /* box-shadow: 3px 3px 5px #5f5d5d, -2px -2px 5px #5f5d5d; */
    /* margin-left: 25%; */
    width: 450px;
}

.padd{
    padding-left: 50px;
    padding-top: 10px;
}

.login1-1{
    display: none;
    height: 100vh;
}

@media(max-width:600px){
    .body{
        display: none;
    }

    .body1{
        display: none;
    }

    .login1-1{
        display: inherit;
    }
    body{
        background-image: linear-gradient(#fff, #fff, #fff);
        position: static !important;
    }
}



.fa-key{
    transform: rotate(-90deg);
}


